ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true
    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # ENCODERS
    odom0: /odometry/encoders
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  false, false, # vx (COVARIANZA ALTA)
                   false, false, true,  # wz
                   false, false, false]
    odom0_twist_covariance_diagonal: [100.0, 0.0, 0.0, 0.0, 0.0, 0.1]

    # IMU CENTRAL (Referencia Principal)
    imu0: /imu/central/data
    imu0_config: [false, false, false,
                  false, false, true,   # Yaw
                  false, false, false,
                  false, false, true,   # wz
                  true,  false, false]  # ax
    imu0_differential: false
    imu0_relative: true
    imu0_linear_acceleration_covariance: 0.1
    imu0_angular_velocity_covariance: 0.001

    # IMU IZQUIERDA (Velocidad Estimada)
    odom1: /track/velocity/left
    odom1_config: [false, false, false,
                   false, false, false,
                   true,  false, false, # vx (Deteccion Slip)
                   false, false, true,  # wz
                   false, false, false]
    odom1_twist_covariance_diagonal: [0.05, 0.0, 0.0, 0.0, 0.0, 0.01]

    # IMU DERECHA (Velocidad Estimada)
    odom2: /track/velocity/right
    odom2_config: [false, false, false,
                   false, false, false,
                   true,  false, false, # vx
                   false, false, true,  # wz
                   false, false, false]
    odom2_twist_covariance_diagonal: [0.05, 0.0, 0.0, 0.0, 0.0, 0.01]

    # MAGNETOMETRO (Norte Absoluto)
    imu1: /mag/gps/data
    imu1_config: [false, false, false,
                  false, false, true, # Yaw Absoluto
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu1_differential: false
    imu1_relative: false
    magnetic_declination_radians: -0.087 # Lima
    imu1_pose_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.05]